#AppTitle {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: $spacer1;
}

.windowTitle {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: $spacer0;
  // display: none;
}
