#AppTitle {
  font-size: 22px !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  letter-spacing: $spacer1;
}

.windowTitle {
  display: none;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: $spacer0;
  // display: none;
}
