$devBorder: 0px;

$bodyPadding: 10px;

$spacer0: 5px;
$spacer1: 10px;

$dark0: #222;
$dark1: #292929;
$dark2: #333;

$light0: #ccc;
$light1: #999;
$light2: #777;
$light3: #555;

$ObjectName: #d7ba7d;
$ObjectBracket: #c586c0;
$ObjectKey: #9cdcfe;
$ObjectPunctuation: #d4d4d4;
$ObjectValueNumber: #b5cea8;
$ObjectValueString: #ce9178;
