@import 'Variables';
@import 'FlexLayouts';

* {
  box-sizing: border-box;
  background-color: #222;
  color: #ccc;
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body {
  height: 100vh;
  width: 100vw;
  #root {
    height: 100%;
    width: 100%;
  }
}

.ButtonMaker {
  padding: $bodyPadding;
  @include flexColumnCenter;
  border: $devBorder solid orange;
  width: 100%;
  height: 100%;
  header {
    border: $devBorder solid blue;
    width: 100%;
    margin-bottom: $spacer1;
    text-align: center;
  }
  main {
    width: 100%;
    flex: 1;
    // height: 100%;
    border: $devBorder solid yellow;
    @include flexRowStart;
  }
}
