@import 'Variables';
@import 'Text';
@import 'FlexLayouts';

.ButtonPreview {
  @include flexColumnTopLeft;
  border: $devBorder solid blue;
  width: 100%;
  text-align: center;
  .buttonContainer {
    @include flexColumnCenter;
    border: $devBorder solid orange;
    // border: 1px solid $light0;
    width: 100%;
    height: 100%;
    padding: $spacer1;
  }
}
