@import 'Variables';
@import 'FlexLayouts';

$ObjectName: #d7ba7d;
$ObjectBracket: #c586c0;
$ObjectKey: #9cdcfe;
$ObjectPunctuation: #d4d4d4;
$ObjectValueNumber: #b5cea8;
$ObjectValueString: #ce9178;

.CodeBlock {
  @include flexColumnTopLeft;
  border: $devBorder solid blue;
  width: 100%;
  text-align: center;
  .codeContainer {
    @include flexColumnTopLeft;
    border: $devBorder solid orange;
    width: 100%;
    height: 100%;

    .CSSCode * {
      font-family: monospace;
      font-size: 12px;
      -webkit-user-select: all; /* Chrome 49+ */
      -moz-user-select: all; /* Firefox 43+ */
      -ms-user-select: all; /* No support yet */
      user-select: all; /* Likely future */
    }

    .CSSCode {
      font-family: monospace;
      font-size: 12px;
      -webkit-user-select: all; /* Chrome 49+ */
      -moz-user-select: all; /* Firefox 43+ */
      -ms-user-select: all; /* No support yet */
      user-select: all; /* Likely future */

      white-space: pre-wrap;
      padding: $spacer1;
      text-align: left;
      background-color: #333;
      // border: 1px solid $light0;
      color: magenta;
      // page-break-inside: avoid;
      width: 100%;
      overflow: auto;
      // padding: 1em 1.5em;
      display: block;
      word-wrap: break-word;

      .name {
        color: $ObjectName;
      }
      .bracket {
        color: $ObjectBracket;
      }
      .key {
        color: $ObjectKey;
      }
      .punct {
        color: $ObjectPunctuation;
      }
      .valueNumber {
        color: $ObjectValueNumber;
      }
      .alueString {
        color: $ObjectValueString;
      }
    }
  }
}
