@import 'Variables';
@import 'FlexLayouts';

.CodeBlock {
  @include flexColumnTopLeft;
  border: $devBorder solid blue;
  width: 100%;
  text-align: center;
  .codeContainer {
    @include flexColumnTopLeft;
    border: $devBorder solid orange;
    width: 100%;
    height: 100%;

    .scssCode {
      white-space: pre-wrap;
      padding: $spacer1;
      text-align: left;
      background-color: #333;
      // border: 1px solid $light0;
      color: magenta;
      // page-break-inside: avoid;
      font-family: monospace;
      font-size: 15px;
      line-height: 1.6;
      width: 100%;
      overflow: auto;
      // padding: 1em 1.5em;
      display: block;
      word-wrap: break-word;

      -webkit-user-select: all; /* Chrome 49+ */
      -moz-user-select: all; /* Firefox 43+ */
      -ms-user-select: all; /* No support yet */
      user-select: all; /* Likely future */
    }
  }
}
